@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#303b37, #1a1f1d);
  color: #e1eeeb;
  min-height: 100vh;
}
.movie_list_fs {
  display: flex;
}
.movie_filter {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.movie_filter li {
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
}
.movie_filter > .active {
  border-bottom: 2px solid #fff307;
  font-weight: 500;
}

.movie_sorting {
  margin-left: 20px;
  display: inline-block;
}
