@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#303b37, #1a1f1d);
  color: #e1eeeb;
  min-height: 100vh;
}
.movie_list_fs {
  display: flex;
}
.movie_filter {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.movie_filter li {
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
}
.movie_filter > .active {
  border-bottom: 2px solid #fff307;
  font-weight: 500;
}

.movie_sorting {
  margin-left: 20px;
  display: inline-block;
}
.movie_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: justify space-evenly;
}

.movie_card {
  background-color: #2c3531;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  width: 229px;
  height: 328px;
  margin: 15px;
  background-color: #000;
  position: relative;
  color: #fff;
}

.movie_card:hover .movie_details {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.movie_details {
  padding: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, black, transparent);
  display: flex;
  flex-direction: column;
  opacity: 0;
}

.movie_details_heading {
  font-weight: bold;
  color: #fff;
  font-size: 19px;
  margin: 0;
  padding: 0;
}

.movie_date_rate {
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #fff;
}
.movie_description {
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #fff;
}

.movie_type {
  text-transform: uppercase;
}

.active {
  font-weight: bold;
}
